* {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.navigation {
	display: flex;
	justify-content: space-around;
	background-color: black;
	padding: 15px;
}
.navigation a {
	text-decoration: none;
	color: white;
}
.productSection {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 20px 0;
	justify-content: center;
}
.product {
	width: 25%;
	background-color: beige;
	padding: 10px;
}
.product p {
	font-size: 0.7rem;
}
.image {
	width: 100%;
}
.footer {
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	padding: 15px;
}
.header {
	background-image: url("slike/avtoparts\ background.jpg");
	height: 50vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0px 3px #e44242;
}

@media only screen and (max-width: 640px) {
	.product {
		width: 40%;
	}
}
